@font-face {
    font-family: 'Logo';
    src: url('./fonts/Lalezar-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'TextoGeneral';
    src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
  }
  

  :root{
    --green: #185E29;
    --darkg: #11491F;
}

.colorNavbar{
    color: white;
    padding: 15px;
}

.box{
 text-align: center;
 color: var(--darkg);
 background-color: white;
 padding: 14px;
 padding-left: 30px;
 padding-right: 30px;
 border-radius: 10px;
 margin: 10px;
 margin-right: 20px;
}

.box:hover{
  color: rgb(112, 201, 139);
  background: linear-gradient(to bottom, white, rgb(128, 128, 128));
  transition: 0.5s;
  font-size: 17px;
}

.Cuadros{
  background-color: antiquewhite;
  border-radius: 10px;
}

.container1 {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.6fr 0.7fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 90vh;
  }
  
  .Values {  
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Value1 Value2 Value3";
    grid-area: 2 / 1 / 3 / 3;
  }
  
  .Value1 { grid-area: Value1; }
  
  .Value2 { grid-area: Value2; }
  
  .Value3 { grid-area: Value3; }
  
  .Background { grid-area: 1 / 1 / 2 / 3;
}
  
  .LogoImage { grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
  
  .Text {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.2fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Eslogan Eslogan"
      "Descripcion Descripcion";
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .Eslogan { grid-area: Eslogan; }
  
  .Descripcion { grid-area: Descripcion; }
  
  .container2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.1fr 1.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "SomosText"
      "Ofrecemos";
    height: 95vh;
  }
  
  .SomosText {  display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "SomosTitle SomosImg";
    grid-area: SomosText;
  }
  
  .SomosImg { grid-area: SomosImg; }
  
  .SomosTitle { grid-area: SomosTitle; }
  
  .Ofrecemos {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Of1 Of2 Of3";
    grid-area: Ofrecemos;
  }
  
  .Of1 { grid-area: Of1; }
  
  .Of2 { grid-area: Of2; }
  
  .Of3 { grid-area: Of3; }
  
  .container3 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 2fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "SearchBar"
      "Products";
    height: 90%;
    background-image: url(./imgs/Background_Productos.avif);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .SearchBar { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: SearchBar;
    background-image: url(./imgs/fondo-productos-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;

  }
  
  .Products { grid-area: Products;
    flex-wrap: wrap;
            justify-content: space-around;
            max-width:fit-content;
    margin: 0 auto;        
    display: flex;
    flex-direction: row;
  }

  .container4 {  display: grid;
    background: linear-gradient(to top, #11491F, #185E29);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Ubicacion Redes FAQ";
    height: 90%;
  }
  
  .Redes { grid-area: Redes; }
  
  .Ubicacion { grid-area: Ubicacion;
  display: flex;
  flex-direction: column; }
  
  .FAQ { grid-area: FAQ; }
  
  
  