.landinfpagev {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landinfpagev .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 4400px;
  position: relative;
}

.landinfpagev .overlap {
  position: absolute;
  width: 1920px;
  height: 769px;
  top: 0;
  left: 0;
}

.landinfpagev .background-inicio {
  position: absolute;
  width: 1920px;
  height: 670px;
  top: 99px;
  left: 0;
  object-fit: cover;
}

.landinfpagev .grey-filter {
  position: absolute;
  width: 1920px;
  height: 765px;
  top: 0;
  left: 0;
  background-color: #3c3c3cbf;
  border: 1px solid;
  border-color: transparent;
}

.landinfpagev .eslogan {
  position: absolute;
  width: 558px;
  top: 241px;
  left: 1272px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 48px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .introduccion {
  position: absolute;
  width: 686px;
  top: 563px;
  left: 1144px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #9d9d9d;
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .logo-construfime {
  width: 495px;
  height: 479px;
  top: 203px;
  left: 216px;
  position: absolute;
  object-fit: cover;
}

.landinfpagev .nav-bar {
  position: absolute;
  width: 1879px;
  height: 112px;
  top: 26px;
  left: 20px;
}

.landinfpagev .navigation {
  height: 112px;
}

.landinfpagev .overlap-group {
  position: relative;
  width: 1859px;
  height: 105px;
  top: 7px;
  left: 10px;
  background-image: url(./img/navbarspace-2.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.landinfpagev .somos {
  height: 26px;
  top: 41px;
  left: 994px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.landinfpagev .text-wrapper {
  top: 43px;
  left: 1259px;
  position: absolute;
  height: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.landinfpagev .text-wrapper-2 {
  position: absolute;
  height: 26px;
  top: 43px;
  left: 1451px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.landinfpagev .cart-button {
  position: absolute;
  width: 157px;
  height: 64px;
  top: 24px;
  left: 1633px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.landinfpagev .text-wrapper-3 {
  position: absolute;
  height: 26px;
  top: 18px;
  left: 15px;
  font-family: "Epilogue", Helvetica;
  font-weight: 800;
  color: #185e29;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.landinfpagev .text-wrapper-4 {
  position: absolute;
  width: 368px;
  top: 10px;
  left: 29px;
  text-shadow: 0px 6px 6px #fcfcfc40;
  font-family: "Lalezar", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .overlap-2 {
  position: absolute;
  width: 1930px;
  height: 813px;
  top: 3592px;
  left: -10px;
}

.landinfpagev .background-c {
  position: absolute;
  width: 1920px;
  height: 813px;
  top: 0;
  left: 10px;
  background: linear-gradient(180deg, rgb(17, 73, 31) 0%, rgb(24, 94, 41) 100%);
}

.landinfpagev .text-wrapper-5 {
  position: absolute;
  width: 271px;
  top: 473px;
  left: 858px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .line {
  position: absolute;
  width: 1800px;
  height: 2px;
  top: 548px;
  left: 79px;
}

.landinfpagev .terminos-y {
  position: absolute;
  width: 405px;
  top: 604px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .p {
  position: absolute;
  width: 405px;
  top: 604px;
  left: 1433px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-6 {
  position: absolute;
  width: 263px;
  top: 52px;
  left: 839px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-7 {
  position: absolute;
  width: 227px;
  top: 52px;
  left: 273px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-8 {
  position: absolute;
  width: 405px;
  top: 52px;
  left: 1374px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .facebook {
  top: 126px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 782px;
  object-fit: cover;
}

.landinfpagev .img {
  top: 458px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 782px;
  object-fit: cover;
}

.landinfpagev .facebook-2 {
  top: 375px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 782px;
  object-fit: cover;
}

.landinfpagev .facebook-3 {
  top: 292px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 782px;
  object-fit: cover;
}

.landinfpagev .facebook-4 {
  top: 209px;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 782px;
  object-fit: cover;
}

.landinfpagev .text-wrapper-9 {
  top: 143px;
  left: 852px;
  white-space: nowrap;
  position: absolute;
  width: 271px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-10 {
  top: 224px;
  position: absolute;
  width: 271px;
  left: 858px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-11 {
  top: 307px;
  left: 858px;
  position: absolute;
  width: 271px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-12 {
  top: 390px;
  position: absolute;
  width: 271px;
  left: 858px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .element-carr-nacional {
  position: absolute;
  width: 405px;
  top: 141px;
  left: 198px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .mision-vision {
  position: absolute;
  width: 405px;
  top: 152px;
  left: 1365px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .maquina {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 818px;
  left: 156px;
  object-fit: cover;
}

.landinfpagev .envio-cronometrado {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 818px;
  left: 896px;
  object-fit: cover;
}

.landinfpagev .casco-de-seguridad {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 818px;
  left: 1636px;
  object-fit: cover;
}

.landinfpagev .overlap-3 {
  position: absolute;
  width: 1920px;
  height: 1116px;
  top: 953px;
  left: 0;
}

.landinfpagev .overlap-4 {
  position: absolute;
  width: 1920px;
  height: 1114px;
  top: 2px;
  left: 0;
}

.landinfpagev .avisos {
  width: 258px;
  top: 1px;
  left: 93px;
  position: absolute;
  font-family: "Lalezar", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .avisos-2 {
  width: 173px;
  top: 0;
  left: 873px;
  position: absolute;
  font-family: "Lalezar", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .background-somos {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 34px;
  left: 0;
  object-fit: cover;
}

.landinfpagev .grey-filter-2 {
  height: 1080px;
  top: 34px;
  background: linear-gradient(180deg, rgba(11.69, 11.69, 11.69, 0.75) 65.62%, rgba(60.56, 60.56, 60.56, 0.45) 93.23%);
  position: absolute;
  width: 1920px;
  left: 0;
  border: 1px solid;
  border-color: transparent;
}

.landinfpagev .desc-somos {
  position: absolute;
  width: 1167px;
  top: 431px;
  left: 87px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #a5a5a5;
  font-size: 32px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .logo-construfime-2 {
  width: 258px;
  height: 245px;
  top: 279px;
  left: 1543px;
  position: absolute;
  object-fit: cover;
}

.landinfpagev .somos-2 {
  width: 806px;
  top: 258px;
  left: 87px;
  font-weight: 800;
  font-style: italic;
  font-size: 64px;
  line-height: normal;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.landinfpagev .navigation-wrapper {
  position: absolute;
  width: 1879px;
  height: 112px;
  top: 67px;
  left: 33px;
}

.landinfpagev .overlap-group-2 {
  position: relative;
  width: 1859px;
  height: 105px;
  top: 7px;
  left: 10px;
  background-image: url(./img/navbarspace-1.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.landinfpagev .somos-wrapper {
  position: absolute;
  width: 202px;
  height: 53px;
  top: 29px;
  left: 981px;
  background-image: url(./img/selected-1.svg);
  background-size: 100% 100%;
}

.landinfpagev .somos-3 {
  height: 26px;
  top: 12px;
  left: 13px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 26px;
  white-space: nowrap;
  position: absolute;
  font-family: "Inter", Helvetica;
  color: #ffffff;
  letter-spacing: 0;
}

.landinfpagev .hacemos {
  position: absolute;
  width: 1794px;
  height: 540px;
  top: 574px;
  left: 62px;
}

.landinfpagev .div-2 {
  position: absolute;
  width: 550px;
  height: 502px;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 6px #0000004c;
}

.landinfpagev .transporte {
  position: absolute;
  width: 500px;
  height: 392px;
  top: 109px;
  left: 21px;
}

.landinfpagev .overlap-5 {
  position: absolute;
  width: 552px;
  height: 540px;
  top: 0;
  left: 1242px;
}

.landinfpagev .equipo {
  position: absolute;
  width: 552px;
  height: 414px;
  top: 126px;
  left: 0;
}

.landinfpagev .overlap-6 {
  position: absolute;
  width: 600px;
  height: 526px;
  top: 0;
  left: 592px;
}

.landinfpagev .hacemos-2 {
  left: 29px;
  position: absolute;
  width: 550px;
  height: 502px;
  top: 0;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 6px #0000004c;
}

.landinfpagev .venta {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 126px;
  left: 0;
  object-fit: cover;
}

.landinfpagev .hacemostxt {
  left: 87px;
  position: absolute;
  width: 496px;
  height: 79px;
  top: 603px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: var(--collection-1-dark-green);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .hacemostxt-2 {
  left: 715px;
  position: absolute;
  width: 496px;
  height: 79px;
  top: 603px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: var(--collection-1-dark-green);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .hacemostxt-3 {
  left: 1336px;
  position: absolute;
  width: 496px;
  height: 79px;
  top: 603px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: var(--collection-1-dark-green);
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .avisos-3 {
  width: 163px;
  top: 0;
  left: 1614px;
  position: absolute;
  font-family: "Lalezar", Helvetica;
  font-weight: 400;
  color: #6b6b6b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .overlap-7 {
  position: absolute;
  width: 1920px;
  height: 907px;
  top: 2069px;
  left: 0;
}

.landinfpagev .p-background {
  position: absolute;
  width: 1920px;
  height: 766px;
  top: 0;
  left: 0;
}

.landinfpagev .overlap-8 {
  position: relative;
  height: 766px;
}

.landinfpagev .fondo-productos {
  position: absolute;
  width: 1920px;
  height: 559px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.landinfpagev .grey-filter-3 {
  height: 766px;
  top: 0;
  background: linear-gradient(180deg, rgba(60.56, 60.56, 60.56, 0.75) 72.92%, rgba(60.56, 60.56, 60.56, 0) 100%);
  position: absolute;
  width: 1920px;
  left: 0;
  border: 1px solid;
  border-color: transparent;
}

.landinfpagev .overlap-group-3 {
  position: relative;
  width: 1859px;
  height: 105px;
  top: 7px;
  left: 10px;
  background-image: url(./img/navbarspace.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.landinfpagev .div-wrapper {
  position: absolute;
  width: 156px;
  height: 53px;
  top: 29px;
  left: 1231px;
  background-image: url(./img/selected.svg);
  background-size: 100% 100%;
}

.landinfpagev .text-wrapper-13 {
  top: 14px;
  left: 28px;
  position: absolute;
  height: 26px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.landinfpagev .search-bar {
  position: absolute;
  width: 1501px;
  height: 62px;
  top: 320px;
  left: 209px;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: inset 0px 4px 6px #00000040;
}

.landinfpagev .search-bar-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 2px;
  left: 1432px;
  object-fit: cover;
}

.landinfpagev .articulos {
  top: 457px;
  left: 102px;
  position: absolute;
  width: 1733px;
  height: 450px;
}

.landinfpagev .overlap-9 {
  position: relative;
  width: 1715px;
  height: 450px;
}

.landinfpagev .articulo {
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  left: 0;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 6px #0000004c;
}

.landinfpagev .articulo-2 {
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  left: 454px;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 6px #0000004c;
}

.landinfpagev .articulo-3 {
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  left: 1315px;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 6px #0000004c;
}

.landinfpagev .articulo-4 {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 96px;
  left: 25px;
}

.landinfpagev .articulo-5 {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 96px;
  left: 479px;
}

.landinfpagev .articulo-6 {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 105px;
  left: 1340px;
}

.landinfpagev .text-wrapper-14 {
  position: absolute;
  top: 21px;
  left: 66px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-15 {
  position: absolute;
  top: 21px;
  left: 1344px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-16 {
  position: absolute;
  top: 21px;
  left: 563px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .boton-detalles {
  position: absolute;
  width: 1607px;
  height: 63px;
  top: 339px;
  left: 35px;
}

.landinfpagev .overlap-group-4 {
  position: absolute;
  width: 280px;
  height: 63px;
  top: 0;
  left: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(24, 94, 41) 36.98%, rgb(17, 73, 31) 90.62%);
}

.landinfpagev .text-wrapper-17 {
  position: absolute;
  top: 20px;
  left: 83px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .overlap-10 {
  position: absolute;
  width: 280px;
  height: 63px;
  top: 0;
  left: 455px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(24, 94, 41) 36.98%, rgb(17, 73, 31) 90.62%);
}

.landinfpagev .text-wrapper-18 {
  top: 20px;
  left: 82px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .overlap-11 {
  position: absolute;
  width: 280px;
  height: 63px;
  top: 0;
  left: 1321px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(24, 94, 41) 36.98%, rgb(17, 73, 31) 90.62%);
}

.landinfpagev .text-wrapper-19 {
  top: 20px;
  left: 77px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .ellipse {
  left: 306px;
  border-radius: 50px;
  background: linear-gradient(180deg, rgb(17, 73, 31) 39.06%, rgb(24, 94, 41) 100%);
  position: absolute;
  width: 100px;
  height: 100px;
  top: 17px;
}

.landinfpagev .ellipse-2 {
  left: 1615px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 17px;
}

.landinfpagev .ellipse-3 {
  left: 754px;
  border-radius: 50px;
  background: linear-gradient(180deg, rgb(17, 73, 31) 39.06%, rgb(24, 94, 41) 100%);
  position: absolute;
  width: 100px;
  height: 100px;
  top: 17px;
}

.landinfpagev .text-wrapper-20 {
  left: 314px;
  position: absolute;
  top: 55px;
  transform: rotate(-30deg);
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .element-c-u {
  position: absolute;
  top: 45px;
  left: 769px;
  transform: rotate(-30deg);
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .articulo-7 {
  position: absolute;
  width: 350px;
  height: 450px;
  top: 0;
  left: 867px;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 6px #0000004c;
}

.landinfpagev .articulo-8 {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 96px;
  left: 892px;
}

.landinfpagev .text-wrapper-21 {
  position: absolute;
  top: 21px;
  left: 938px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .details {
  position: absolute;
  width: 280px;
  height: 63px;
  top: 339px;
  left: 902px;
  border-radius: 20px;
  background: linear-gradient(180deg, rgb(24, 94, 41) 36.98%, rgb(17, 73, 31) 90.62%);
}

.landinfpagev .text-wrapper-22 {
  top: 359px;
  left: 985px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .ellipse-4 {
  left: 1167px;
  border-radius: 50px;
  background: linear-gradient(180deg, rgb(17, 73, 31) 39.06%, rgb(24, 94, 41) 100%);
  position: absolute;
  width: 100px;
  height: 100px;
  top: 17px;
}

.landinfpagev .element-c-u-2 {
  position: absolute;
  top: 45px;
  left: 1187px;
  transform: rotate(-30deg);
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-23 {
  left: 1628px;
  position: absolute;
  top: 55px;
  transform: rotate(-30deg);
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .text-wrapper-24 {
  position: absolute;
  width: 576px;
  top: 232px;
  left: 672px;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .overlap-wrapper {
  top: 3051px;
  left: 88px;
  position: absolute;
  width: 1733px;
  height: 450px;
}

.landinfpagev .articulo-9 {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 96px;
  left: 1346px;
}

.landinfpagev .text-wrapper-25 {
  position: absolute;
  top: 21px;
  left: 85px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-26 {
  position: absolute;
  top: 21px;
  left: 1414px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-27 {
  position: absolute;
  top: 21px;
  left: 543px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-28 {
  top: 20px;
  left: 74px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.landinfpagev .element-c-u-3 {
  position: absolute;
  top: 45px;
  left: 767px;
  transform: rotate(-30deg);
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landinfpagev .text-wrapper-29 {
  position: absolute;
  top: 21px;
  left: 991px;
  text-shadow: 0px 8px 4px #00000040;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  font-style: italic;
  color: #11491f;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
